body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

a {
  color: rgb(0, 96, 96);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  border: 1px solid #333;
  padding: 10px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  text-align: center;
  border: 1px solid #aaa;
  margin-top: 20px;
  margin-bottom: 10%;
}

.flex-container > div > img{
  width: 95%;
}

.flex-container > div > p{
  width: 90%;
  text-align: left;
  padding: 10px;
  font-size: 12pt;
}

.flex-container > div > h3{
  text-align: start;
  padding: 10px;
}

.flex-container > div > label{
  font-size: 12pt; 
  float: left;
  padding: 10px; 
  margin-bottom: 10px;
  color: #008080;
  font-weight: bold;
}
